.sidebar-component-container{
    margin: 1em 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20%;
}

.sidebar-subtopic{
    cursor: pointer;
    padding-left: 1em;
    border-left: 2px solid var(--main-border-color)
}



#current-subtopic{
    color:var(--main-bold-text-color)
}
