.bigtitle-component-container{
    color: var(--main-text-color);
    font-weight: 800;
    font-family: var(--main-title-font), sans-serif;
    font-size: 2.2em;
}

@media (max-width: 1000px){
    .bigtitle-component-container{
        font-size: 4em;
    } 
}