.changemd-component-container{
    margin: 2em auto 0;
    padding-top: 2em;
    border-top: 1px solid #4ed159;
}

.changemd-component-container p{
    font-size: 1.2em;
    margin-bottom: 0.2em;
    padding-left: 0.5em;
}