.content-component-controls{
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-component-controls span{
    font-size: 1.2em;
    color: #000000;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.content-component-controls span:hover{
    color: var(--main-text-color);
    font-size: 1.25em;
}

@media (max-width:1000px){
    .content-component-controls span{
        font-size: 2em;
    }
    
    .content-component-controls span:hover{
        color: var(--main-text-color);
        font-size: 2.2em;
    }
}