.landing-container-main{
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-container{
    text-align: center;
    width: 50vw;
}

.landing-container h1{
    margin-bottom: 0.5em;
}

.landing-container p{
    margin-bottom: 0.8em;
}

@media (max-width: 1000px){
    .landing-container{
        width: 80vw;
    }
    .landing-container p{
        margin-bottom: 2em;
    }
}