.modal-container{
    width: 90vw;
    height: 80vh;
    border-radius: var(--main-border-radius);
    margin: auto;
    padding: 2em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.modal-container-overflow{
    padding: 5em 0;
    padding-right: 5em;
    overflow-y: scroll;
}