.step-container-main{
    display: grid;
    grid-template-columns: 70% 30%;
}

.step-see-modal{
    display: none;
}

.step-content-container{
    padding: 2em 3em;
}

.step-titles-container{
    padding: 2em 2em;
}

@media (max-width: 1000px) {
    .step-titles-container{
        display: none;
    }
    .step-content-container{
        width: 90vw;
        padding: 2em 3em;
    }
    .step-see-modal{
        display: block;
    }
}