.title-component-container p{
    color:#000000;
    font-size: 1.2em;
    margin-bottom: 0.2em;
    padding-left: 0.5em;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.title-component-container p:hover{
    color: var(--main-text-color);
    font-size: 1.25em;
}

.title-component-container #content-title-active{
    border-left: 2px solid var(--main-text-color);
    font-weight: 700;
    color: var(--main-text-color);
}

.title-component-container #content-title-active:hover{font-size: 1.2em;}

@media (max-width: 1000px){
    .title-component-container p{
        color:#000000;
        font-size: 2em;
        margin-bottom: 0.5em;
    }
    
    .title-component-container p:hover{
        font-size: 2.2em;
    }
    
    .title-component-container #content-title-active{
        border-left: 2px solid var(--main-text-color);
        font-weight: 700;
        color: var(--main-text-color);
    }
    
    .title-component-container #content-title-active:hover{font-size: 2em;}
}