* {
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  margin: 0;
}

button {
  outline: inherit;
  border: inherit;
  background-color: inherit;
}

a{
  color: inherit;
  text-decoration: inherit;
}

/* SCROLLBAR CONFIG*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0);
}
 
::-webkit-scrollbar-thumb {
  background: #959595; 
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #676767; 
}