* {
  font-family: 'Mukta', sans-serif;
  padding: 0;
  margin: 0;
}

button {
  outline: inherit;
  border: inherit;
  background-color: inherit;
}

a{
  color: inherit;
  text-decoration: inherit;
}